
= simple_form_for [@gadget, @gadget.pictures.new], html: { class: 'form-horizontal' } do |f|
  = f.input :title
  = f.input :image, as: :file
  .form-actions
    = f.button :submit

#pictures
  - @gadget.pictures.each do |picture|
    .well
      = picture.title
      = image_tag picture.image.url(:thumb)
