!!!
%html
  %head
    %title GadgetCollection
    %meta{charset: 'utf-8'}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'shared/top_nav_bar'

    .container
      .flashes
        - flash.each do |type, message|
          .alert.fade.in{:"data-dismiss" => "alert", class: "alert-#{flash_class(type)}"}
            %button.close ×
            = message
      = yield
